@import 'vars';

@font-face {
	font-family: 'CenturyGothic';
	src: url('../fonts/CenturyGothic-Bold.eot'); /* IE9 Compat Modes */
	src: url('../fonts/CenturyGothic-Bold.eot?#iefix') format('embedded-opentype'); /* IE6-IE8 */
	src: url('../fonts/CenturyGothic-Bold.woff2') format('woff2'); /* Super Modern Browsers */
	src: url('../fonts/CenturyGothic-Bold.woff') format('woff'); /* Pretty Modern Browsers */
	src: url('../fonts/CenturyGothic-Bold.ttf')  format('truetype'); /* Safari, Android, iOS */
	src: url('../fonts/CenturyGothic-Bold.svg') format('svg'); /* Legacy iOS */
}
