@import "../vars";
@import "../media";

.article {
  padding-top: 20px;
  counter-reset: section;

  &__heading {
    text-align: center;

    max-width: 600px;
    margin: 0 auto 60px;

    @media #{$tablet-width} {
      margin: 0 auto 30px;
    }
  }

  &__content {
    max-width: 960px;
    margin: 0 auto;
  }

  &__image {
    margin-bottom: 80px;

    @media #{$tablet-width} {
      margin-bottom: 40px;
    }

    @media #{$phone-width} {
      margin: 0 auto 20px;
    }
  }

  &__description {
    display: flex;
    padding-top: 30px;
    margin-bottom: 70px;
    border-top: 1px solid $border-color;

    font-size: 16px;

    @media #{$tablet-width} {
      margin-bottom: 35px;
    }

    @media #{$phone-width} {
      display: block;
      border-top: initial;
    }
  }

  &__description-cell {
    width: 50%;
    padding-right: 120px;

    @media #{$phone-width} {
      width: 100%;
      margin-bottom: 15px;
      padding-right: 0;
    }
  }

  &__label {
    opacity: $opacity;
    margin-bottom: 10px;

    @media #{$phone-width} {
      margin-bottom: 5px;
    }
  }

  &__text {
    margin-bottom: 80px;

    @media #{$tablet-width} {
      margin-bottom: 40px;
    }

    & p {
      margin-bottom: 20px;
    }

    & p:last-of-type {
      margin-bottom: 0;
    }
  }

  &__title {
    margin-bottom: 20px;
  }

  &__number-list {
    margin-bottom: 80px;

    @media #{$tablet-width} {
      margin-bottom: 40px;
    }

    .article__number-item:last-of-type {
      margin-bottom: 0;
    }
  }

  &__other-works {
    padding: 60px 0;
    background-color: #FBFBFC;

    @media #{$tablet-width} {
      padding: 20px 0;
    }
  }

  &__number-item {
    margin-bottom: 15px;

    &:before {
      color: $orange;
      counter-increment: section;
      content: counter(section) ". ";
    }
  }
}
