@import "../vars";
@import "../media";

.promo {
  display: flex;
  padding-top: 70px;

  @media (max-width: 1800px) {
    min-height: 100vh;
  }

  @media #{$tablet-width} {
    padding-top: 30px;
    min-height: initial;
    max-height: initial;
  }

  &__section {
    display: flex;
    flex: 1;
    flex-direction: column;

    @media #{$tablet-width} {
      min-height: initial;
      max-height: initial;
    }
  }

  &__empty {
    flex: 1;

    @media #{$tablet-width} {
      display: none;
    }
  }

  &__wrapper {
    display: flex;

    @media #{$tablet-width} {
      align-items: center;
    }

    @media #{$phone-width} {
      flex-direction: column-reverse;
    }
  }

  &__media {
    position: absolute;
    width: 650px;
    min-width: 650px;
    margin-left: -130px;

    opacity: 0;
    transition: opacity 500ms;

    @media #{$tablet-width} {
      margin-left: 0;
      width: 40%;
      min-width: 40%;
    }

    &_active {
      position: relative;
      opacity: 1;
    }

    @media #{$phone-width} {
      display: block;
      width: 100%;
      min-width: initial;
      flex: initial;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;

    max-width: 670px;
    margin-left: 30px;
    padding-bottom: 55px;

    @media #{$tablet-width} {
      padding-bottom: 0;
      width: 60%;
    }

    @media #{$phone-width} {
      display: block;
      width: 100%;
      min-width: 100%;

      margin: 0 0 15px;
      padding: 0;
    }
  }

  &__label {
    font-size: 16px;
    margin-bottom: 15px;
  }

  &__text {
    font-size: 45px;

    @media #{$tablet-width} {
      font-size: 25px;
    }
  }

  &__link {
    display: none;
    margin: 25px 0 0;
    font-size: 16px;

    @media #{$tablet-width} {
      display: none;
    }
  }

  &__content-wrapper {
    flex: 1;
    padding-top: 100px;

    @media #{$tablet-width} {
      flex: initial;
      padding-top: 40px;
    }

    @media #{$phone-width} {
      flex: initial;
      padding-top: 0;
    }
  }
}
